{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="fon">
    <div class=" container-lg">

        <h2>Профайл. Личные данные</h2>
              <h5 class="card-title">
                        {{ object }}
                    </h5>
             <form method="post"  enctype="multipart/form-data" class="form_sm">
                 {% csrf_token %}
                 <p>Имя:
                     {{ form.username }}
                 </p>
                 <p>E-mail:
                 {{ form.email }}
                 </p>
                 <img src="{{ object.avatar.url }}" width="100" height="100"/>
                 <p>Аватарка:<br />



                 {{ form.avatar }}
                 </p>
                 <p>Страна:
                 {{ form.country }}
                 </p>
                 <button class="btn btn-primary" type="submit">Сохранить</button>
                 <a href="{% url 'catalog:product' %}" class="btn btn-secondary">Отмена</a>
              </form>




                    <!-- <div class="card-text">
                        <ul>
                            <li>Имя: {{ object.username }}</li>
                            <li>Страна: {{ object.country }}</li>
                            <li>Аватарка: {{ object.avatar }}</li>

                        </ul>
                    <a href="{% url 'users:login' %}" class="btn btn-sm btn-primary">Редактировать профиль</a>
                    </div>-->




    </div>
</div>

{% endblock %}