{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="fon">
    <div class=" container-lg">
        <div class="title">
            <h1>{{ article.title }}</h1>
        </div>
        <div class="row">
                          <div class="col-3">
                              <img src="/media/{{ article.image }}" width="100%" >

                          </div>
                          <div class="col-9">

                                      {% if perms.app_name.change_article %}
                                          <a class="btn btn-primary" href="{% url 'blog:update' article.id %} ">Редактировать товар</a>
                                           <a class="btn btn-primary" href="{% url 'blog:delete' article.id %} ">Удалить</a>
                                      {% endif %}
                                      <div class="date_published">{{ article.date_published | date:"d M Y"}}</div>
                                      {{ article.text  | safe }}
                          </div>
        </div>
    </div>
</div>
{% endblock %}