<!DOCTYPE html>
<html lang="ru">
{% include 'head.html' %}
<body>
    {% include 'menu.html' %}


    <div class="fon"><div class=" container-lg">
        <div class="title">
            <h1>Контакты</h1>
        </div>
        <div class="row  gx-5">
            <div class="col-12 col-sm-5  py-2">
                <div class="card text-bg-secondary">
                    <div class="card-body">
                        <h2>Отправить сообщение</h2>
                        <form action="/" method="POST">
                            <div class="mb-3">
                                Имя
                                <input type="text" name="name" class="form-control" placeholder="">
                            </div>
                            <div class="mb-3">
                                Почта
                                <input type="email" name="email" class="form-control" placeholder="">
                            </div>

                            <div class="mb-3">
                                Сообщение
                                <textarea class="form-control" name="txt" placeholder="" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-7 py-2">
                <div class="card text-bg-primary">
                    <div class="card-body">
                        <h2>Наши контакты</h2>
                        <p><b>Адрес:</b> ул. имени К.Н. Иванова, д.1, село Понизовье</p>
                        <p><b>Телефон:</b> +7 (48141) 11-22-33</p>
                        <p><b>Время работы:</b> с 9:00 до 18:00</p>

                    </div>
                </div>
            </div>


        </div>
    </div>

    </div>
</body>


