<!DOCTYPE html>
{% load static %}
<html lang="ru">
{% include 'head.html' %}
<body>
{% include 'menu.html' %}


    <div class="fon"><div class=" container-lg">
        <div class="title">
            <h1>Главная</h1>
            <p>Вы находитесь на сайте предназначенном для продажи товаров</p>
        </div>
        <div class="">
            <div>

            </div>

        </div>

        <div class="row  gx-5">
            <div class="col ">
                <div class="showcase_product">
                    <div class="showcase_product_title">Товар 1</div>
                    <div class="product_price">100 ₽</div>
                    <div class="product_description">Краткое описание товара, его назначение и достоинства</div>
                    <div class="button_in_basket">Купить</div>
                </div>
            </div>
            <div class="col ">
                <div class="showcase_product">
                    <div class="showcase_product_title">Товар 1</div>
                    <div class="product_price">100 ₽</div>
                    <div class="product_description">Краткое описание товара, его назначение и достоинства</div>
                    <div class="button_in_basket">Купить</div>
                </div>
            </div>
            <div class="col ">
                <div class="showcase_product">
                    <div class="showcase_product_title">Товар 1</div>
                    <div class="product_price">100 ₽</div>
                    <div class="product_description">Краткое описание товара, его назначение и достоинства</div>
                    <div class="button_in_basket">Купить</div>
                </div>
            </div>
        </div>




    </div></div>

