<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% for products1 in showcase_product %}
        <div class="carousel-item {% ifchanged showcase_product.slot.start.date %}active{% endifchanged %}" data-bs-interval="3000">
            <div class="row ">
                {% for product in products1  %}
                <div class="col ">
                    <div class="showcase_product">
                        <div class="showcase_product_title">{{ product.name }}</div>
                        <div class="showcase_img"><img src="media/{{ product.image }}"/></div>
                        <div class="product_price">{{ product.price }} ₽</div>
                        <div class="product_description">{{ product.description }}</div>
                        <div class="button_in_basket">Купить</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>



        {% endfor %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>