{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="fon">
    <img src="{% static 'img/header.jpg' %}" width="100%">
    <div class=" container-lg">

        <div class="title  d-flex  flex-column justify-content-center">
            <h1>Цифровая техника </h1>
            <p>Продажа техники: ноутбуки, телевизоры, смартфоны, планшеты, умные часы, фитнес-браслеты и другие гаджеты.</p>
        </div>
        {% if perms.app_name.change_article %}
            <a class="btn btn-primary" href="{% url 'catalog:create' %}">Добавить товар</a>
        {% endif %}

        <!-- тут будет все товары -->

        {% include 'pagination.html' %}

        {% include 'catalog/products.html' %}

        {% include 'pagination.html' %}




        <div class="row gx-5 p-3 ">
            <div class="d-flex justify-content-center"><h3>Последние поступления</h3></div>
            {% include 'catalog/showcase_product.html' %}
        </div>

    </div>
</div>
{% endblock %}
